.button-header-container {

    width: 100%;
    margin: 0 0 2em 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    .left-items {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: flex-start; 
    }

    .right-items {
        justify-content: flex-end;   
    }
}