.AboutPage {
  display: grid;
  grid-template-areas:
  "about-1"
  "about-2"
  "about-3"
  "about-4";
  grid-gap: 2em;
  color: var(--c-font-light);


  .about-sect{
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    max-width: 50vw;
  }
  h1, p {
    margin-bottom: 1em;
    letter-spacing: 0.5px;
  }

}

.about-img img {
  display: flex;
  max-width: 50vw;
  margin-bottom: 2em;
  align-self: center;
}

.about-4 {
  margin-bottom: 2em;
}
