.Footer {
  display: block;
  position: absolute;
  height: 40px;
  background: var(--c-bg-dark-hl);
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  color: var(--c-font-light)
}