.GuestNavigation {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
}

.GuestNavigation img {
  margin-left: 10px;
  margin-top: 10px;
}

.GuestNavigation ul {
  position: absolute;
  top: 0px;
  width: 100%;
}

.GuestNavigation ul li { 
  background: var(--c-font-light);
  border-bottom: 1px solid var(--c-bg-dark-hl);
}

.GuestNavigation ul li a {
  text-align: center;
  padding-top: 15px;
  display: block;
  width: 100%;
  height: 50px;
  color: var(--c-bg-dark);
  text-decoration: none;
}

.GuestNavigation ul li:hover {
  background: var(--c-bg-light-hl);
}

.GuestNavigation__not_active {
  display: none;
}

.GuestNavigation__active {
  display: block;
}