.SplashPage {
  height: auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.SplashPage .logo_container {
  display: block;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.SplashPage .logo_container img {
  width: 220px;
  height: 220px;
}

.SplashPage .form_container {
  padding-top: 30px;
  display: block;
  width: 370px;
  margin: 0 auto;
  text-align: center;
}

.SplashPage .button {
  background: none;
  border: none;
  outline: none;
  color: var(--c-font-light);
  width: 100px;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.SplashPage .button_employee {
  background: var(--c-pending)
}

.SplashPage .button_manager {
  background: var(--c-warning);
  margin-left: 30px;
}

.SplashPage .login_form {
  padding: 10px 20px 20px 20px;
  width: 300px;
  margin: 30px auto;
  border-radius: 10px;
}

.SplashPage .employee_active {
  background: var(--c-pending)
}

.SplashPage .manager_active {
  background: var(--c-warning)
}

.SplashPage .login_form input {
  width: 100%;
  padding: 8px 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: var(--c-font-light);
  font-weight: bold;
}

.SplashPage .login_form label {
  padding: 10px 0 5px 0;
  display: block;
  width: 100%;
  text-align: left;
  color: var(--c-font-light);
  font-weight: bold;
}

.SplashPage .button_submit {
  margin-top: 20px;
  cursor: pointer;
  
}

.SplashPage .forgot_password {
  margin-top: 15px;
  font-size: 90%;
  color: var(--c-font-light);
}