.paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    .center {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 2em;

    }

    .btn-page {
        width: 3em;
        height: 2em;


        background: none;
        border: none;
        margin: 0 1em 0 1em;

        font: inherit;
        cursor: pointer;
        outline: inherit;

        transition: 0.25s;
    }

    .btn-page:hover {
        color: var(--c-warning);
    }
}